.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    padding-top:120px;
}

.hero-text{
    flex:1;
}

.hero-text h3{
    font-size:30px;
}

.hero-text h1{
    font-size:70px;
    color:#38bdf8;
    margin:10px 0;
}

.hero-text h2{
    font-size:34px;
    color:#d1d5db;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    color:#94a3b8;
    max-width:600px;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:380px;
    height:380px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid #38bdf8;
    box-shadow:0 0 40px #38bdf8;
}